Documents/*
Mansfield/*
*.aux
*.bbl
*.blg
*.log
*.gz
*.eps
*converted*
*errors
/Courses/Mathematical_Modelling/Modelling_Project/Metherall_Report.pdf
/Courses/Mathematical_Modelling/Shaving/Hair.pdf
*Blues.p
