Documents/*
Mansfield/*
*.nb
*.aux
*.bbl
*.blg
*.log
*.gz
*.eps
*latexmk
*.fls
*.out
*.vrb
*.nav
*.snm
*.toc
*.vrb
*.sty
*.mkv
*InFoMM.pdf
*EPSRC.pdf
*converted*
*gnuplottex*
*errors
/Courses/Mathematical_Modelling/Modelling_Project/Metherall_Report.pdf
/Courses/Mathematical_Modelling/Shaving/Hair.pdf
*Blues.p
.Rhistory
